@media (min-width: 768px) {
    .navbar-brand.abs

        {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            text-align: center;
            
        }
    }
#logo {
    padding: 0px;
}

.navbar-lightBlue{
    background-color:#78bfc9
}

a.nav-link{
     font-size: 1.5rem;
}

#carousel{
    padding-top:  95px;
}

#imageCollection {
    margin-top: 100px;
}

#imageCollection img{
    width: 100%;
    padding: 1px;
}