.navbar{
    position: relative;
}

@media (min-width: 1000px) {
    .navbar-brand.abs

        {
            position: absolute;
            left:  50%;
            margin-left:  -60px !important;
            display: block;
            margin-top: 95px;
            
        }
    }
#logo {
    padding: 0px;
}

.navbar-lightBlue{
    background-color:#78bfc9
}

a.nav-link{
     font-size: 1.35rem;
}

#carousel{
    padding-top:  95px;
}

#imageCollection {
    margin-top: 100px;
}

#imageCollection img{
    width: 100%;
    padding: 1px;
}

#centerCar{
    padding-right: 75px;
    padding-left: 75px;

}

p,h1,h2,h3,h4,h5,h6 {
    font-family: 'EB Garamond', serif  !important;
}

.navIndex{
    z-index: 2;
}

#top{
   margin-top: 150px;

}

#googleMaps{

    height: 200%;
    margin-bottom: 100px;

}

#socalPadding{
    padding-left: 10px;
}

body{
    background-color: #fbfbfb;
}


#createUser {
    margin-top: 200px;
}

#scrollableUploads{ 
    margin-top: 100px;
    overflow-y:  scroll;
    background-color: white;
    height: 50vh;
    

}


#scrollableUploads img{ 
    width: 125px;
    height: auto;
    vertical-align: top;
}

#scrollableUploads input{ 
    width: 60px;
    height: 19px;
}


tr:nth-child(even) {
    background-color: rgb(120 191 201 / 4%);

}

.autocomplete-suggestions{
    background-color: white;
    background-origin: padding-box;
}


#createUserSub{
    width:  174px;
}